#loader {
  width: 100%;
  display: flex;
  justify-content: center;
}

#span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid black;
  border-top-color: transparent;
  animation: spin 600ms linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}